h1 {
  color: yellowgreen;
}
.game-name {
  color: aquamarine;
}
.container{
  width: max-content;
}
.container div:nth-child(3n) {
  border-bottom: solid 3px;
}
.container div form:nth-child(3n) {
  border-right: solid 3px;
}
.container div form:first-child {
  border-left: solid 3px;
}
.container div:first-child {
  border-top: solid 3px;
}
.hover-cell {
  background-color: yellowgreen;
}