$body-color: powderblue;
$base-color: deeppink;
$hover-color: #d7eef6;
$board-color: lightpink;
$button-text: #8ccb0a;
$selected-color: skyblue;
h1 {
  color: yellowgreen;
}
body {
  font-size: 26px;
  font-family: Georgia,Times New Roman,Serif;
  background-color: $body-color;
}
.game-name {
  color: $base-color;
  text-align: center;
  font-weight: 700;
}
.container{
  width: max-content;
}
.common-cell {
  background-color: $board-color;
}
input {
  width: 4rem;
  height: 4rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  caret-color: transparent;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $selected-color;
  }
}
.container div:nth-child(3n) {
  border-bottom: solid 3px $base-color;
}
.container div form:nth-child(3n) {
  border-right: solid 3px $base-color;
}
.container div form:first-child {
  border-left: solid 3px $base-color;
}
.container div:first-child {
  border-top: solid 3px $base-color;
}
.hover-cell {
  background-color: $hover-color;
}
button {
  display: flex;
  //margin-left: 45%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $button-text;
  border-radius: 11px;
  border-color: $base-color;
  &:hover{
    transform: scale(1.05);
    border-color: $button-text;
  }
}
.game-actions {
  display: flex;
  justify-content: center;
  button{
    margin: 10px 15px;
  }
}
.music-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  button {
    margin: 10px 20px;
  }
  .change-volume-btn {
    width: 70px;
    justify-content: center;
  }
}
.score {
  color: $base-color;
  font-size: 30px;
  text-align: center;
}
@media only screen and (max-width: 770px) {
  body {
    font-size: 20px;
  }
  input {
    width: 3rem;
    height: 3rem;
  }
}